.imglogo{
    width: 12vw;
    height: 18vh;
}
.carousel-inner{
    margin-top: 1vh;
    width: 99vw;
    height: 60vh;
}
.tamanhoCarrossel{
    height: 60vh;
}
.cards{
    margin-top: 1vh;
   display: flex;
   justify-content: space-around;
}
.card{
    border-color: rgb(130, 186, 255);
}
.texto{
    text-align: center;
}
.imgCard{
    height: 30vh;
}
.btnCard{
    margin-left: 5vw;
}
.navBar{
    display: flex;
    justify-content: center;
}
.navbar-nav{
    justify-content: space-around;
    gap: 20vw;
}